<div class="container" data-display-price-target="startdate">

  <%= simple_form_for [@island, @reservation] do |f| %>
    <%= f.input :start_date, as: :date, html5: true %>
    <%= f.input :end_date, as: :date, html5: true %>
    <div  data-action="click->display-price#calcul">
      <p class="btn btn-primary">Calculate</p>
    </div>
    <div>
    <hr>
    </div>

    <p data-display-price-target="days" style="text-align: center;">Nights: 0</p>
    <p data-display-price-target="confirme" style="text-align: center;">Total price: 0</p>
    <hr>
    <%= f.button :submit, class: "btn-primary"%>
  <% end %>
</div>
