<%# <form class="container">
  <div class="form-outline mb-4">
    <input type="text" class="form-control" />
    <label class="form-label">Name</label>
  </div>

  <div class="form-outline mb-4">
    <input type="text" class="form-control" />
    <label class="form-label">Price</label>
  </div>

  <div class="mb-3">
  <textarea class="form-control" rows="3"></textarea>
  <label for="ControlTextarea" class="form-label">Description</label>
  </div>

   <p><div class="mb-3">
    <input class="form-control" type="file" id="formFile">
    <label for="formFile" class="form-label">Add image</label>
  </div>
  <p><a class="btn btn-success" href="#">Create</a></p>
</form></p> %>

<%= render "form" %>
