<div class="container">
  <h1>Here are more details on the island</h1>

  <p><%= @island.name %></p>
  <p><%= @island.price %></p>
  <p><%= @island.size %></p>


  <p><a class="btn btn-success" href="#">Book now</a></p>
</div>

<div class="comments_cards">
  
</div>
