.btn-primary {
  background-color: $blue;
  border-color: #353b48;
  margin: 5px;
  text-transform: uppercase;
  a{
    color: white;
    text-decoration: none;
  }

}

.btn-primary:hover {
  border-color: #353b48;
  background-color: $light-green;
}

.navbar-brand {
  color: $light-green;
}

.navbar .btn {
  background-color: $blue;
  padding: 15px;
  border-radius: 50px;
  color: white;
  height: 60px;
  width: 60px;
  text-decoration: none;
}

.btn-flat {
  flex-direction: column;
  align-items: center;
}
