.form-container {
  display: flex;
  justify-content: center;
}

.form-box {
  width: 40%;
  content: center;
  margin: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 20px;
  padding-top: 20px;
  border-color: #353b48;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
