
.island-card {
  display: flex;
  justify-content: center;
}

.show-container {
  position: relative;

}
  .upper-part {
    justify-content: space-between;
    margin-bottom: 5px;
    margin-top: 20px;
    // position: sticky;
    // top: 0;
  }

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-trip > img {
  /* height: 500px;
  width: 80%;
  object-fit: cover;
  display: flex;
  align-items: center;
  position: center; */
  border-radius: 10px 0px 0px 10px
}

.card-trip h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  color: #353b48;
}

.card-trip p {
  font-size: 16px;
  margin: 0;
  text-align: justify;
}

.card-trip ul {
  font-size: 16px;
  opacity: .7;
  margin: 0;
}

.card-trip-infos {
  padding-inline: 105px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  margin: 40px;

}

.card-trip-pricing {
  padding: 15px;
  text-align: center;
  color: #353b48;
  font-size: 20px;
  font-weight: bold;
  position: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.price-and-book {
background-color: #f0efef82;
border-radius: 0px 10px 10px 0px;
}

#title-price {
  font-size: 20px;
  position: center;
  text-align: center;
}
