 <div class="footer">
      <div class="footer-links">
        <a target="_blank" href="https://www.instagram.com/explore/tags/island/" target="_blank"><i class="fab fa-instagram"></i></a>
        <a target="_blank" href="https://www.facebook.com/people/Minions-Island/100077683959950/" target="_blank"><i class="fab fa-facebook"></i></a>
        <a target="_blank" href="https://twitter.com/islandsmagazine"><i class="fab fa-twitter" target="_blank"></i></a>
      </div>
      <div class="footer-copyright">
        PIF Paradise Island Finder
      </div>
    </div>
